* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.outer {
    width: 1200px;
    margin: 0 auto;
}

.nav {
    position: absolute;
    width: 1200px;
    height: 72px;
    background: #333;
    margin: 0 auto;
}

.nav>ul>li {
    float: left;
    margin: 0 4px;
    background: #333;
}

.nav a {
    display: block;
    text-align: center;
    line-height: 72px;
    color: #BDB273;
    font-size: 20px;
}

.nav>ul>li>a {
    width: 110px;
    height: 72px;
}

.nav>ul>li>ul a {
    width: 110px;
    height: 41px;
    text-align: center;
    line-height: 41px;
}

.nav a:hover {
    background-color: #666666;
}
.shenping a:visited{
  color: black;
}
.shenping a:link{
    color: black;
}

.nav>ul ul {
    display: none;
    position: relative;
    z-index: 10;
    background-color: #333;
}

.win {
    width: 1200px;
    position: relative;
    top: 70px;
}

.guanjun {
    width: 100%;
    text-align: center;
    line-height: 36px;
}

.chakan {
    position: relative;
}

.xiangqing {
    width: 155px;
    height: 58px;
    background-color: #000000;
    font-size: 20px;
    text-align: center;
    line-height: 58px;
    color: #BDB273;
    border: 3px solid #BDB273;
    position: absolute;
    top: 420px;
    left: 50px;
}

.ad {
    position: relative;
    width: 500px;
    float: left;
    margin-left: 45px;
    overflow: hidden;
}

.cnt {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 70px;
    left: 0px;
}

.pic {
    position: relative;
    width: 3000px;
    height: 300px;
}

.pic>li {
    float: left;
}

.left {
    width: 300px;
    position: relative;
    float: left;
}

.right {
    width: 300px;
    position: relative;
    float: right;
}

.club {
    font-size: 14px;
    top: 25px;
    left: 40px;
    position: absolute;
    line-height: 27px;
}

.more {
    position: absolute;
    right: 10px;
    top: 7px;
}

.retie li {
    width: 300px;
    height: 30px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 30px;
}

h4 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #BDB273;
}

.zuoyou {
    margin-top: 20px;
}

.shenping {
    background-color: #F2F2F2;
    margin-top: 10px;
    clear: both;
}

.shenping h3 {
    float: right;
    width: 300px;
    height: 50px;
}

.shenping p {
    font-size: 12px;
    margin-top: 10px;
    font-weight: normal;
}

.end {
    height: 70px;
    width: 1200px;
    background-color: black;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 13px;
    top: 1000px;
}
